<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="../../style.css" rel="stylesheet" />
		<title>News The Goal Line</title>
	</head>

	<body class="bg-gray-900">
		<section class="m-[3%]">
			<div class="relative h-[50px] w-full md:h-[70px]">
				<div
					class="absolute left-[1%] bottom-[20%] flex h-[80%] w-[90%] items-end gap-[3%]"
				>
					<p
						class="rounded-lg bg-gray-700 px-[2%] py-[0.5%] text-[0.9rem]  2xl:text-[1.3rem]  lg:text-[1rem]  sm:text-[1rem] text-white"
					>
						All News
					</p>
					<p
						class="rounded-lg bg-gray-700 px-[2%] py-[0.5%] text-[0.9rem]  2xl:text-[1.3rem] lg:text-[1rem] sm:text-[1rem] text-white"
					>
						Transfer News
					</p>
					<p
						class="rounded-lg bg-gray-700 px-[2%] py-[0.5%] text-[0.9rem]  2xl:text-[1.3rem] lg:text-[1rem] sm:text-[1rem] text-white"
					>
						Hot News
					</p>
				</div>
			</div>
			<div class="h-auto w-full gap-[1%] md:grid md:grid-cols-5">
				<div class="w-full md:col-span-3">
					<div class="rounded-[10px] border-[2px] border-gray-400">
						<div
							class="mx-auto mt-[5%] w-[90%] text-[1.2rem] sm:text-[1.5rem] md:text-[1.5rem] lg:text-[1.6rem]  2xl:text-[2.3rem] font-bold text-white"
						>
							Fernandes wanted assurances on United 'plan' deal
						</div>
						<div class="mt-[3%] flex w-full items-center space-x-4">
							<img
								class="h-11 w-11 2xl:w-15 2xl:h-15 rounded-full"
								src="../../images/news-user.png"
								alt=""
							/>
							<div class="text-[0.8rem] 2xl:text-[1.5rem] font-medium text-gray-200">
								<div>Jese Leos</div>
								<div class="text-sm text-[0.8rem] 2xl:text-[1.5rem] text-gray-200">
									Joined in August 2014
								</div>
							</div>
						</div>
						<div class="mt-[1%] h-[250px] sm:h-[300px] 2xl:h-[500px] w-full md:h-[350px] lg:h-[400px]">
							<img
								class="mx-auto h-full w-full"
								src="../../images/News-Images/AkanjiLarge.png"
								alt=""
							/>
						</div>
						<div
							class="mt-[1%] w-[100%] text-right text-[0.8rem] sm:text-[1.2rem] text-gray-300"
						>
							23.09.2023
						</div>

						<div class="mx-auto mt-[5%] w-[95%] break-words text-gray-100 sm:text-[1.2rem] lg:text-[1.1rem] 2xl:text-[1.8rem]">
							Bruno Fernandes wanted assurances from Manchester United over the
							club's future before he signed his new contract. Fernandes penned
							a fresh deal with the club in April of last year, keeping him at
							Old Trafford until at least 2026. The midfielder has been a key
							man for United since arriving from Sporting CP in 2020, scoring 38
							goals and registering 28 assists in 104 Premier League
							appearances. But his time at the club has come during a tumultuous
							period, with Ole Gunnar Solskjaer sacked early last season and
							interim boss Ralf Rangnick coming in to take over the remainder of
							the campaign, before Erik ten Hag was announced as the new manager
							from the start of this term. Fernandes revealed that, prior to
							signing his extension, he spoke to football director John Murtough
							and technical director Darren Fletcher after becoming
							disillusioned with the club's progress. The club has said they
							have a plan, this is what they want, we agree with you that the
							level of the club has to be better than it has been in the past.
						</div>

						<div class="mt-[3%] h-[300px] 2xl:h-[450px] w-full">
							<img
								class="h-full bg-white opacity-[0.8] w-full animate-pulse"
								src="../../images/gjirafa.png"
								alt=""
							/>
						</div>
						<div class="mx-auto mt-[5%] w-[95%] break-words sm:text-[1.2rem] lg:text-[1rem] 2xl:text-[1.8rem] text-gray-100">
							Bruno Fernandes wanted assurances .Small Body
						</div>
					</div>
				</div>
				<div class="w-full md:col-span-2">
					<div class="mb-[5%] mt-[5%] sm:mt-[5%] h-[150px] 2xl:h-[300px] md:h-[150px] md:mt-[0%] sm:h-[240px] w-full text-white">
						<img
							class="mx-auto h-full w-[90%] rounded-[10px] animate-pulse opacity-[0.9]"
							src="../../images/gjirafamall.jpeg"
							alt=""
						/>
					</div>
					<div class="border-[2px] rounded-[10px] border-gray-400">
						<div class="w-full border-b-[2px] border-gray-400 text-lg text-white">
							<p class="py-[2%] pl-[4%] text-[1rem] sm:text-[1.4rem]">Related News</p>
						</div>
						<div
							class="grid h-[155px] md:h-[150px] 2xl:h-[220px] sm:h-[200px] xl:h-[170px] lg:h-[160px] grid-cols-2 border-b-[1px] border-gray-400"
						>
							<div class="h-full w-full">
								<img
									class="my-[5%] mx-auto h-[80%] w-[85%] rounded-[10px]"
									src="../../images/News-Images/ChelseaTransferLarge.png"
									alt=""
								/>
							</div>
							<div class="my-auto h-[90%] w-[90%] sm:text-[1.5rem] justify-between md:text-[1rem] text-white lg:text-[1.2rem]  2xl:text-[1.5rem] text-lg">
								<p>Fernandes wanted assurances on United 'plan' deal</p>
								<button class="mt-[5%] md:mt-[1%] rounded-[5px] lg:mt-[5%] xl:mt-[12%] sm:mt-[18%] 2xl:text-[1.3rem] 2xl:mt-[5%] bg-gray-600 px-[5%]">
									Read More
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		
	</body>
</html>
